<div class="message-container" data-mark-path="<%= message_mark_as_read_path(message) %>" data-sender-id= "<%= message.user.id %>" id="message-<%= message.id %>"> 
  <i class="author">
    <% if current_user.seller %>
      <%= message.chat.recipient.name %>
    <% else %>
      <%= message.chat.sender.name %>
    <% end %>
  </i>
  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  <p><%= message.content %></p>
</div>
