<h2><%= @inventory.name %></h2>
<h3><%= @inventory.selling_user.name %><h3>
<% @inventory.products.each do |product| %>
  <table>
    <tr>
      <th><%= product.name %></th> <th><%= product.price %></th>
    </tr>
  </table>
<% end %>
<% @inventory.photos.each do |photo| %>
  <%=  cl_image_tag photo.key, height: 300, width: 400, crop: :fill %> 
<% end %>

<% unless policy(@inventory).edit? %>
  <%= link_to 'Quero', inventory_orders_path(@inventory, authenticity_token: form_authenticity_token), method: :post %>
<% end %>
<% if policy(@inventory).edit? %>
  <%= link_to "Editar", edit_inventory_path(@inventory) %>
<% end %>
<% if policy(@inventory).destroy? %>
  <%= link_to "Deletar", inventory_path(@inventory), method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>