<div class='container'>


  <div class="profile-card mt-5">
    <div class="w-100">
       <h3 class="text-center mb-4 mt-3"><%= @user.name %></h3>
    </div>
  </div>


  <div>
    <h2><%= @user.name %></h2>
  </div>
  <h3><%= @inventory.name %></h3>
  <p><%= @inventory.description %></p>
  <% @inventory.photos.each do |photo| %>
    <%=  cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%= link_to 'Quero', inventory_buyer_orders_path(@inventory, authenticity_token: form_authenticity_token), method: :post %>
  <%= link_to "Back", sellers_path %>
</div>





      <p class="text-justify"><%= @user.bio %></p>
