 <%= render 'shared/navbar' %>
<div class='container pt-1'>


<div class="profile-card mt-1">
  <div class="">
    <%= image_tag 'ze_galinha.jpg', class: 'avatar-large'%>
    <h2 class="text-center mb-2 mt-2"><%= @user.name %></h2>
     <p class="text-center mb-0"><%= @user.bio %></p>
  </div>
</div>
<div class="mt-3">
<%= link_to 'Quero comprar!', inventory_buyer_orders_path(@inventory, authenticity_token: form_authenticity_token), method: :post, class:"btn general quero" %>
</div>
<div class="profile-card inventory mt-3">
  <div class="w-100">
    <h3 class="text-center"><%= @inventory.name %></h3>
    <p class="text-center mb-0"><%= @inventory.description %></p>
    <div class="row justify-content-around">
      <% @inventory.photos.each do |photo| %>
      <div class="col-12">
        <div>
        <%=  cl_image_tag photo.key, crop: :fill, class: "grid-left width-height-full mt-2" %>      </div>
        </div>
      <% end %>
     </div>
  </div>
</div>


<div class="mt-4 mb-5 pb-3">
  <%= link_to "Voltar", sellers_path, class:"btn general" %>
</div>




</div>

