<div class='container'>


<div class="profile-card mt-5">
  <div class="w-100">
    <h2 class="text-center mb-2 mt-2"><%= @user.name %></h2>
     <p class="text-center"><%= @user.bio %></p>
  </div>
</div>

<div class="profile-card inventory mt-3">
  <div class="w-100">
    <h3 class="text-center"><%= @inventory.name %></h3>

    <p class="text-center"><%= @inventory.description %></p>
    <div class="row justify-content-around">
      <% @inventory.photos.each do |photo| %>
      <div class="col-6">
        <div>
        <%=  cl_image_tag photo.key, height: 130, crop: :fill, class: "width-full" %>      </div>
        </div>
      <% end %>
     </div>
  </div>
</div>


<div class="w-100">
  <%= link_to 'Quero', inventory_buyer_orders_path(@inventory, authenticity_token: form_authenticity_token), method: :post, class:"btn general" %>
  <%= link_to "Voltar", sellers_path, class:"btn general" %>
</div>




</div>

