 <%= render 'shared/new_navbar' %>

<div class='container pt-2'>

 <%= render 'seller_profile' %>

<% unless current_user.seller %>
  <div class="mt-3">
  <% if @inventory && (current_user.orders.last.accepted > 1 || !current_user.orders.last.completed.nil? ) %>
    <%= link_to 'Quero comprar!', inventory_buyer_orders_path(@inventory, authenticity_token: form_authenticity_token), method: :post, class:"btn general quero" %>
  <% end %>
  </div>
<% else %>
  <div class="m-1 pl-2">
    <%= link_to edit_seller_path do%>
      <i class="far fa-user"></i><span>EDITAR PERFIL</span>
    <%end%>
  </div>
<% end %>

<% if @inventory %>
  <div class="profile-card inventory mt-1">
    <div class="w-100">    
      <h2 class="mb-0"><%= @inventory.name %></h2>
        <p class="mb-0"><%= @inventory.description %></p>
          <% if current_user.seller %>
            <span><%= link_to edit_inventory_path do%>
              <i class="fas fa-pencil-alt"></i><p>EDITAR</p></span>
            <%end%>
          <% end %>
      <% @inventory&.products&.each do |product| %>
        <h4 ><%= product.name %> - R$<%= product.price.to_s.gsub(".", ",") + 0.to_s %>
          <% if current_user.seller %>
            <span><%= link_to "- EDITAR -", edit_product_path(product.id) %>
            <%= link_to product_path(product), method: :delete do%>
            <i class="far fa-trash-alt"></i></span>
            <% end %>
          <% end %>
        </h4>
      <% end %>
      <% if current_user.seller %>
        <%= link_to new_product_path do%>
          <i class="fas fa-plus-square"></i><p>ADICIONAR PRODUTOS</p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <%= render 'carousel_show' %>
</div>

<div class="mt-1 mb-5 pb-3">
  <%= link_to "Voltar", sellers_path, class:"btn general" %>
</div>
