<div>
  <% @orders.each_with_index do |order, index| %>
    <p> Pedido n: <%= @orders.length - index %></p>
    <p><%= order.user.name %></p>
    <% if order.accepted == 1 %>
      <p id="order-<%= order.id %>">Status: Aguardando Resposta</p>
      <%= render 'shared/seller_order', order: order %>
      <br><br>
    <% elsif order.accepted == 2 %>
      <p id="order-<%= order.id %>">Status: Pedido aceito =)</p>
      <br>
    <% else %>
      <p id="order-<%= order.id %>">Status: Pedido negado =(</p>
      <br>
    <% end %>
  <% end %>
</div>


