
<%= image_tag "Logo_sem_nome.png", class: "avatar logo-home", id: "dropdownmenu", 'aria-haspopup': true, 'aria-expanded': false %>
<div class="display-none menu" id="logoaction">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <% unless current_user.seller %>
          <% if current_user.orders.last.completed.nil? %>
            <%= link_to "Pedido", buyer_order_path(current_user.orders.last) %>
          <% end %>
        <% else %>
          <%= link_to "Pedidos", seller_orders_path %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
