<div class="navbar-dimensions">
 <div class="row mt-2">

    <% if user_signed_in? %>
      <div class="col text-center">
        <%= link_to root_path do%>
          <i class="fas fa-map-marker-alt"></i>
          <p>INÍCIO</p>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.seller %>
      <div class="col text-center">
        <%= link_to seller_chats_path do%>
          <i class="fas fa-comment-alt"></i>
          <p>MENSAGENS</p>
          <% end %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <% unless current_user.seller %>
        <% if current_user.orders.last.completed.nil? %>
          <div class="col text-center">
            <%= link_to buyer_order_path(current_user.orders.last) do%>
              <i class="fas fa-shopping-bag"></i>
              <p>PEDIDO</p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="col text-center">
          <%= link_to seller_orders_path do %>
            <i class="far fa-money-bill-alt"></i>
            <p>PEDIDOS</p>
          <% end %>
        </div>
      <% end %>

      <% if current_user.seller %>
        <div class="col text-center">
          <%= link_to seller_path(current_user) do %>
            <i class="far fa-address-card"></i>
            <p>PERFIL</p>
          <% end %>
        </div>
      <% end %>

    <div class="col text-center">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <p>SAIR</p>
      <% end %>
    </div>

    <% else %>
      <%= link_to "SAIR", new_user_session_path %>
    <% end %>
  </div>
</div>
