<%= render 'shared/new_navbar' %>
<div class='container mt-5'>
  <h3 class="text-center pt-2 mb-2 mt-2">Lista Atual de Produtos</h3>
    <% @inventory.products.each do |product| %>
      <h5><%= product.name %> - R$<%= product.price.to_s.gsub(".", ",") + 0.to_s %></h5>
    <% end %>
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :name, label: 'Produto', required: true %>
      <%= f.input :price, label: "Preço", required: true %>
      <%= f.button :submit, "Cadastrar", class: 'btn general form-button mt-3' %>
    <%end%>
    <%= link_to "Voltar", :back, class: "btn general mt-2" %>
</div>
